.header {
  height: var(--header-height);
  background-color: var(--header-bg);
  border-bottom: 1px solid #e2e8f0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  /* max-width wrapper */
  --max-width-px: 1200; /* 1200px */
  --max-width: calc(var(--max-width-px) / 16 * 1rem);

  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.125rem;
}

.brandName {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  letter-spacing: -0.03em;
}

.brandName::before {
  position: absolute;
  content: "";

  --minimum-target-size: 44px;
  --inset-by: min(0px, calc((100% - var(--minimum-target-size)) / 2));

  top: var(--inset-by);
  bottom: var(--inset-by);
  left: var(--inset-by);
  right: var(--inset-by);

  /* --inset-by: calc(0px, min() */
}

.brandBase {
  color: var(--text-heading);
}

.brandAccent {
  color: var(--primary);
}

.desktopNavLinks {
  display: none;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  padding: 6px 12px;
  border-radius: 9999px;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.navLinkActive {
  color: var(--primary);
  font-weight: 600;
  background-color: #eef2ff;
}

.navLink:hover {
  color: var(--primary);
  background-color: color-mix(in srgb, var(--primary) 8%, #fff);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: var(--text-heading);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  position: relative;
}

.menuButton::before {
  position: absolute;
  content: "";

  --minimum-target-size: 44px;
  --inset-by: min(0px, calc((100% - var(--minimum-target-size)) / 2));

  top: var(--inset-by);
  bottom: var(--inset-by);
  left: var(--inset-by);
  right: var(--inset-by);
}

.menuIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #134876;
}

@media (min-width: 550px) {
  .inner {
    padding: 16px 32px;
  }
}

@media (min-width: 768px) {
  .nav {
    align-items: center;
    gap: 3rem;
  }

  .desktopNavLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menuButton {
    display: none;
  }
}
