.layout {
  min-height: 100vh;
  padding-top: 1rem;

  display: grid;
  grid-template-rows: minmax(100px, 170px) 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: revert;
    gap: 24px;
  }
}
