.layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 24px;

    /* align-items: start; */
  }
}
