.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: blueviolet;
  height: 80px;
}

.main {
  flex: 1;
}

.footer {
  background-color: brown;
  height: 150px;
}
