.layout {
  /* commented out to allow for dynamic height */
  /* min-height: 100vh; */
  padding-top: 32px;
  padding-bottom: 32px;

  display: grid;
  gap: 3rem;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 150px 1fr;
    /* max-width: 1000px; */
  }
}

@media (min-width: 1100px) {
  .layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    /* max-width: 1000px; */
  }
}
