.container {
  /* display: grid;
  place-items: center; */
  position: relative;
}

.uploadArea {
  width: 100%;
  padding: 1rem;
  border: 2px dashed #e2e8f0;
  background-color: #ffffff;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.uploadArea:hover {
  border-color: #94a3b8;
  background-color: #f8fafc;
}

.uploadArea.active {
  border-color: #6366f1;
  background: #eef2ff;
}

/*
    Visual hidden pattern: This keeps the element in the DOM and focusable but invisible to the eye
    Why do we need to be focusable ? 
        User navigating with the keyboard (Tab Key)
        or screen readers cannot focus on the input to upload a file
*/
.input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dropArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.iconWrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  font-size: 32px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.textStack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: #1e293b;
}

.subtitle {
  color: #64748b;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  gap: 12px;
  color: #94a3b8;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.dividerLine {
  height: 1px;
  flex: 1;
  background-color: #e2e8f0;
}

.browseFilesButton {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  background-color: #1e293b;
  color: #ffffff;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  transition: transform 0.2s ease, background-color 0.2s ease;
}

.browseFilesButton:hover {
  background-color: #0f172a;
  transform: scale(1.02);
}

.browseFilesButton:active {
  /* transform: scale(0.98); */
}
