.container {
  position: relative;
}

.uploadArea {
  height: 100%;
  width: 100%;
  border: 2px dashed #e2e8f0;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.uploadArea:hover {
  border-color: #94a3b8;
  background-color: #f6f6f6;
}

.uploadArea.active {
  border-color: #6366f1;
  background: #eef2ff;
}

@media (min-width: 1100px) {
  .uploadArea {
    height: auto;
  }
}

/*
    Visual hidden pattern: This keeps the element in the DOM and focusable but invisible to the eye
    Why do we need to be focusable ? 
        User navigating with the keyboard (Tab Key)
        or screen readers cannot focus on the input to upload a file
*/
.input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dropArea {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  cursor: pointer;
  outline: none;

  padding: 2rem 1rem;
}

.iconWrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  font-size: 48px;

  background: transparent;
}

.textStack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #1e293b;
}

.subtitle {
  color: #64748b;
}

.subtitleDesktop {
  display: none;
}

@media (min-width: 1100px) {
  .subtitle {
    display: none;
  }

  .subtitleDesktop {
    display: revert;
  }
}

.previewWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
