:root {
  --background: #fafafa;
  --foreground: #171717;

  --primary: #269df4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.maxReadingWidth {
  max-width: 65ch;
  width: 100%;
  text-wrap: pretty;
  /* margin-inline: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* 
  h1 : 2rem = 32px
  line-height: 1.5 => line-height = 48px => too much
*/
