:root {
  --background: #fafafa;
  --primary: #2563eb;

  --text-heading: hsl(222, 47%, 11%); /* (Deep Slate / Almost Black) */
  --text-body: hsl(217, 33%, 17%); /* (Dark Gray) */
  --text-muted: hsl(215, 16%, 47%); /* (Medium Gray) */
  --text-emphasis: hsl(217, 24%, 28%); /* Between text-heading and text-body */

  --card-bg: #fff;
  --header-bg: #fff;

  --header-height: 70px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: clip; /* Trims overflow, keeps sticky working */

  /* When scrolling to an element, leave this much space at the top */
  scroll-padding-top: var(--header-height);
}

body {
  color: var(--text-body);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.maxReadingWidth {
  max-width: 65ch;
  width: 100%;
  text-wrap: pretty;
  /* margin-inline: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--text-heading);
}

/* 
  h1 : 2rem = 32px
  line-height: 1.5 => line-height = 48px => too much
*/
