.layout {
  min-height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;

  display: grid;
  grid-template-rows: minmax(100px, 170px) 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: revert;
    gap: 2rem;
    /* max-width: 1000px; */
  }
}

@media (min-width: 1100px) {
  .layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: revert;
    gap: 2rem;
    /* max-width: 1000px; */
  }
}
