.container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  /* flex layout on mobile */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.sidebar {
}

.analyzeButton {
  /* mobile */
  align-self: stretch;

  margin-top: 1rem;
}

@media (min-width: 768px) {
  .analyzeButton {
    align-self: center;
    min-width: 350px;
  }
}

@media (min-width: 1100px) {
  .container {
    gap: 3rem;
  }
  .content {
    /* grid layout on desktop */
    display: grid;
    grid-template-columns: 1fr minmax(300px, 350px);
    gap: 6rem;
  }
}
